#LobbyView {
    -fx-base: rgba(23, 23, 23, 0.85);
    -fx-background-color: linear-gradient(#74b1ff, rgba(100, 50, 201, 0.87), #dddddd);
    -fx-font-family: "American Typewriter";
}

#SettingsBar {
    -fx-background-color: derive(#171717, 10%);
}

#Icon {
    -fx-effect: dropshadow( three-pass-box, #fffee8, 10.0, 0.0, 0.0, 0.0);
}

