#game-box {
    -fx-background-color: linear-gradient(#e0ffe0, #50ddaf);
    -fx-base: #52d780;
}

#settings-bar {
    -fx-background-color: derive(-fx-base, 10%);
}

.button {
    -fx-background-radius: 12;
    -fx-text-fill: #e17374;
    -fx-font-weight: bold;
    -fx-font-family: Noteworthy;
}

.label {
    -fx-font-family: Noteworthy;
    -fx-font-weight: bold;
    -fx-text-fill: #f2ff56;
}

#player-info {
    -fx-background-color: royalblue;
    -fx-border-width: 2;
    -fx-border-color: rgba(0, 0, 0, 0.49);
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-effect: innershadow( three-pass-box, #fff5f0, 10.0, 0.0, 0.0, 0.0);
}

#player-info:hover {
    -fx-background-color: derive(royalblue, 5%);
}

#wager-view {
    -fx-background-color: derive(royalblue, 30%);
    -fx-background-radius: 5;
}

#wager-view:hover {
    -fx-background-color: derive(royalblue, 35%);
}

#card-view {
}

