.root {
    -fx-base: #f0ff91;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

#settings-bar {
    -fx-background-color: derive(-fx-base, 10%);
}

#player-info {
    -fx-background-color: #b0ffe0;
    -fx-border-width: 1;
    -fx-border-color: #fffaa5;
}

#player-info:hover {
    -fx-background-color: derive(#b0ffe0, 5%);
}


#loser-bet-view {
    -fx-background-color: derive(red, 20%);
}

#winner-bet-view {
    -fx-background-color: derive(green, 20%);
}
